.error {
	height: 60vh;
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	@include center;
	transform: scaleY(0);
	transform-origin: 50% 0%;
	transition-duration: 0.3s;
	transition-delay: 0.1s;
	&>div{
		@include center;
		flex-direction: column;
		width: 95%;
		margin-top: -2.5vh;
		&>img {
			height: 110px;
			width: auto;
			margin-bottom: 20px;
			transform: translateY(-100px);
			opacity: 0;
			transition-duration: 0.3s;
			transition-delay: 0s;
			@include headerShadow;
			border-radius: 50%;
		}
		&>h1 {
			font-size: 4vh;
			font-weight: 900;
			margin: 0;
			transform: translateY(-100px);
			opacity: 0;
			transition-duration: 0.3s;
			transition-delay: 0s;
			margin-bottom: 5px;
			@include background-top;
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
		&>p {
			font-size: 3vh;
			margin: 0;
			transform: translateY(-100px);
			opacity: 0;
			transition-duration: 0.3s;
			transition-delay: 0s;
			@include background-top;
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    margin-bottom: 20px;
		}
		&>button {
			height: 50px;
			width: 40%;
			border: none;
			border-radius: none;
			@include headerShadow;
			color: #fff;
			font-size: 1.25em;
			outline: none;
			font-weight: 900;
			@include background-right;
			transform: translateY(-100px);
			opacity: 0;
			transition-duration: 0.3s;
			transition-delay: 0s;
		}
	}
}

.error-show {
	transform: scaleY(1);
	transition-delay: 0s;
	&>div>img{
		transition-delay: 0.325s;
		opacity: 1;
		transform: translateY(0px);
	}
	&>div>h1{
		transition-delay: 0.3s;
		opacity: 1;
		transform: translateY(0px);
	}
	&>div>p{
		transition-delay: 0.275s;
		opacity: 1;
		transform: translateY(0px);
	}
	&>div>button{
		transition-delay: 0.25s;
		opacity: 1;
		transform: translateY(0px);
	}
}