.page {
	width: 100%;
	@include center;
	flex-wrap: wrap;
	background: #fff;
	margin: 0;
	padding: 0;
	margin-top: 60px;
	border-top: 1px solid #fff;
	@include background-top;
	transform: translateX(50%);
	transition-duration: 0.5s;
	@media #{$mq-800} {
		margin-top: 80px;
	}
	&>.square{
		box-sizing: border-box;
		border-bottom: 1px solid #fff;
		align-self: stretch;
		width: 50%;
		@include center;
		color: #fff;
		font-size: 1.5em;
		font-weight: 900;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 0%;
			height: 1px;
			background: #fff;
			transition-duration: 0.3s;
			transition-delay: 0.3s;
		}
		&>.circle{
			@include center;
			height: 90px;
			width: 90px;
			border-radius: 50%;
			z-index: 4;
			transform: scale(0) rotate(-720deg);
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}
	&>.square:nth-of-type(odd) {
		border-right: 1px solid #fff;
	}
	//Set Numbers
	&>.square:nth-of-type(1)::after {
		content: "1st";
		@include center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 6vh;
	}
	&>.square:nth-of-type(2)::after {
		content: "2nd";
		@include center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 6vh;
	}
	&>.square:nth-of-type(3) {
		background: url('../public/gift.svg') no-repeat center;
		background-size: 37.5% 37.5%;
		@include center;
	}
	&>.square:nth-of-type(4)::after {
		content: "4th";
		@include center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 6vh;
	}
	&>.square:nth-of-type(5)::after {
		content: "5th";
		@include center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 6vh;
	}
	&>.square:nth-of-type(6) {
		background: url('../public/gift.svg') no-repeat center;
		background-size: 37.5% 37.5%;
		@include center;
	}
	//Active Squares Classes
	&>.square.square-on {
		position: relative;
		&::before {
			width: 50%;
		}
		&>.circle {
			background: #fff;
			color: #1085DF;
			@include headerShadow;
			transform: scale(1) rotate(0deg);

		}
	}
	&>.square.square-on:nth-of-type(1){
		&>.circle {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 0.15s;
			&::after {
				content: "1st";
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				font-size: 6vh;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 0s;
		}
	}
	&>.square.square-on:nth-of-type(2){
		&>.circle {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 0.45s;
			&::after {
				content: "2nd";
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				font-size: 6vh;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 0.3s;
		}
	}
	&>.square.square-on:nth-of-type(3){
		&>.circle.gift {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 0.75s;
			&::after {
				content: '';
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: url('../public/gift.svg') no-repeat 50% 47.5%;
				background-size: 50% 50%;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 0.6s;
		}
	}
	&>.square.square-on:nth-of-type(4){
		&>.circle {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 1.05s;
			&::after {
				content: "4th";
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				font-size: 6vh;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 0.9s;
		}
	}
	&>.square.square-on:nth-of-type(5){
		&>.circle {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 1.35s;
			&::after {
				content: "5th";
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				font-size: 6vh;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 1.2s;
		}
	}
	&>.square.square-on:nth-of-type(6){
		&>.circle.gift {
			transform: scale(1) rotate(0deg);
			transition-duration: 0.3s;
			transition-delay: 1.65s;
			&::after {
				content: '';
				@include center;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: url('../public/gift.svg') no-repeat 50% 47.5%;
				background-size: 50% 50%;
			}
		}
		&::before{
			transition-duration: 0.3s;
			transition-delay: 1.5s;
		}
	}
	&>.square.square-complete {
		position: relative;
		&>.circle {
			background: #fff url('../public/check.svg') no-repeat center;
			background-size: 50%;
			position: relative;
			@include headerShadow;
			// transform: scale(1) rotate(0deg);
			&::after {
				display: none;
			}
		}
	}
}
//Completed Square Classes - ::before fills in the lines
.square.square-complete:nth-of-type(1){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 0s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 0s;
		transform: scale(1) rotate(0deg);
	}
}
.square.square-complete:nth-of-type(2){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 0.3s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 0.3s;
		transform: scale(1) rotate(0deg);
	}
}
.square.square-complete:nth-of-type(3){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 0.6s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 0.6s;
		transform: scale(1) rotate(0deg);
	}
}
.square.square-complete:nth-of-type(4){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 0.9s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 0.9s;
		transform: scale(1) rotate(0deg);
	}
}
.square.square-complete:nth-of-type(5){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 1.2s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 1.2s;
		transform: scale(1) rotate(0deg);
	}
}
.square.square-complete:nth-of-type(6){
	&::before {
		transition-duration: 0.3s;
		transition-delay: 1.5s;
		width: 100%;
	}
	&>.circle {
		transition-duration: 0.3s;
		transition-delay: 1.5s;
		transform: scale(1) rotate(0deg);
	}
}

#circleGift1 .gift-timing,
#circleGift2 .gift-timing {
	transition: transform 0.8s 0s, background 0.5s 0.3s;
	transition-timing-function: ease-out;
	&::after {
		opacity: 1;
		transition: opacity 0.2s 0.8s;
	}
}

#circleGift1 .gift-expload,
#circleGift2 .gift-expload {
	transform: scale(19);
	transition-duration: 1s;
	background: #353535;
	transition-timing-function: ease-out;
	transition-delay: 0s;
	@media #{$mq-800} {
		transform: scale(30);
	}
	&::after {
		opacity: 0;
		transition: opacity 0s 0s;
	}
}

.page-show{
	transform: translateX(0%);
}


