.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	height: 60px;
	width: 100%;
	@include headerShadow;
	@include center;
	@include background-top;
	background: #fff;
	@media #{$mq-800} {
		height: 80px;
	}
	&>div {
		@include center;
		justify-content: space-between;
		width: 100%;
		max-width: 1220px;
		&>button {
			width: 60px;
			height: 60px;
			border: none;
			background: none;
			@include center;
			outline: none;
			@media #{$mq-800} {
		    	width: 80px;
				height: 80px;
		    }
		}
		&>.bag{
			position: relative;
			background: url('bag2.svg') no-repeat center;
			background-size: 60%;
			transition-duration: 0.3s;
			z-index: 5;
			@media #{$mq-800} {
		    	background-size: 65%;
		    }
		}
		&>.bag-rotate{
			transform: rotate(180deg);
		}
		&>.logo{
			cursor: pointer;
			font-family: "Raleway", sans-serif;
			font-weight: 900;
			font-size: 1.25em;
			// margin-left: 10px;
		  	@include background-top;
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    position: relative;
		    transition-duration: 0.25s;
		    @media #{$mq-800} {
		    	font-size: 2.75em;
		    }
		}
		&>.scan {
			background: url('camera.svg') no-repeat center;
			background-size: 67.5%;
			position: relative;
			&>.get-file{
				opacity: 0;
				height: 60px;
				width: 60px;
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				@media #{$mq-800} {
					height: 80px;
					width: 80px;
				}
			}
		}
	}
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}