.loading {
	@include center;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999999;
	@include background-right;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #fff;
	transform: scaleX(1);
	transform-origin: 0% 50%;
	transition-duration: 0s;
	&>div {
		@include center;
		flex-direction: column;
		transition-duration: 0.3s;
		&>h1 {
			font-size: 9vh;
			font-weight: 900;
			background: -webkit-linear-gradient(#eee, #A9ABAE);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    margin: 0;
		    transition-duration: 0.3s;
		}
		&>.spinner {
			background: url('loader.gif') no-repeat center;
			background-size: contain;
			height: 100px;
			width: 100px;
			transition-duration: 0.3s;
		}
	}
}

.loading-hide{
	transform: scaleX(0);
	transition-delay: 0.45s;
	transition-duration: 0.45s;
	&>div {
		transform: scale(3);
		transition-delay: 0s;
		opacity: 0;
	}
}